
@{
    ViewBag.Title = "AMP-MVC";
    Layout = "~/Views/Shared/Amplayout.cshtml";
}

<h2>Hello World! from AMP MVC You will see this from mobile</h2>

<amp-img src="/img/amp.jpg"
         width="1080"
         height="610"
         layout="responsive"></amp-img>
<p class="text-danger">Note:Always minify you code when using AMP because it will not validate your page as AMP even if bytes increased in script or css See <a href="https://www.ampproject.org/docs/getting_started/create/basic_markup">Here</a> and Validate your page <a href="https://validator.ampproject.org/">content</a></p>